@model IEnumerable<CRMTicariOtomasyon.Models.Siniflar.SinifGrup2>
<table>
    <tr>
        <td> Departman </td>
        <td> Adet </td>
    </tr>
    @foreach ( var x in Model )
            {
                <tr>
                    <td> @x.Departman</td>
                    <td> @x.Sayi</td>
                </tr>
            }
</table>
<br />
<div style="background-color: #ff0000"> Partial View </div>
